@model CinemaVM
@section Scripts {

    @if (@TempData["notification"] is not null)
    {
        <script>
            toastr.success('@TempData["notification"]')
        </script>
    }
}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">All Cinemas</h5>
            <a href="/Admin/Cinema/Create" class="btn btn-success btn-sm">
                <i class="bi bi-plus-circle me-1"></i> Create
            </a>
        </div>

        <form class="row g-2 mb-3">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="Name" placeholder="Search by name">
                </div>
            </div>
            <div class="col-md-2">
                <button class="input-group-text btn-dark "><i class="bi bi-search"></i></button>
            </div>
        </form>

        <div class="table-responsive scrollbar">
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th class="sort">Id</th>
                        <th class="sort">Name</th>
                        <th class="sort">Img</th>
                        <th class="sort">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CinemaModel)
                    {

                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                          <td>
                            
                                <button class="btn btn-dark btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#imageModal-@item.Id">
                                    View Img <i class="bi-eye"></i>
                                </button>

                                <div class="modal fade" id="imageModal-@item.Id" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                           

                                            <div class="modal-body p-0">
                                                <img src="~/Imgs/CinemaImgs/@item.Img"
                                                     class="img-fluid w-100 rounded-bottom">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                          </td>
                            <td>
                                <a href="/Admin/Cinema/Edit/@item.Id"
                                   class="btn btn-warning btn-sm text-white">
                                    <i class="bi bi-pencil-square"></i>
                                </a>

                                <a href="/Admin/Cinema/Delete/@item.Id"
                                    data-url="/Admin/Cinema/Delete/@item.Id"
                                   class="btn btn-danger btn-delete"><i class="bi bi-trash3"></i></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
        <div class="card-footer text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item ">
                            <a class="page-link" href="/Admin/Cinema/Index?page=@(Model.CurrentPage - 1)">Previous</a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Admin/Cinema/Index?page=@i">@i</a>
                        </li>
                    }
                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Admin/Cinema/Index?page=@(Model.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>

        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success ms-2",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });

                document.querySelectorAll(".btn-delete").forEach(link => {

                    link.addEventListener("click", function (e) {
                        e.preventDefault();

                        const url = this.getAttribute("href");


                        swalWithBootstrapButtons.fire({
                            title: "Are you sure?",
                            text: "You won't be able to revert this!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel!",
                            reverseButtons: true
                        }).then((result) => {

                            if (result.isConfirmed) {
                                window.location.href = url;
                            }

                        });
                    });

                });

            });
        </script>
